# SwiftFormat configuration for Natura iOS App
--indent 2
--allman false
--linebreaks lf
--trimwhitespace always
--self remove
--semicolons inline
--importgrouping alpha
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 120
--assetliterals actual-width
--voidtype void
--elseposition same-line
--guardelse same-line
--emptybraces no-space
--enumnamespaces always
--extensionacl on-declarations
--organizationmode visibility
--patternlet hoist
--indentcase false
--ifdef indent
--xcodeindentation disabled
--nilinit remove
--shortoptionals except-properties
--stripunusedargs always
--decimalgrouping 3,6
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
--fractiongrouping disabled
--exponentgrouping disabled
--hexliteralcase uppercase
--exponentcase uppercase
--someany true
--categorymark "MARK: %c"
--markcategories true
--structthreshold 0
--classthreshold 0
--enumthreshold 0
--extensionlength 0
--redundanttype inferred
--closurevoid remove
--operatorfunc spaced
--ranges spaced
--typedelimiter space-after
--wrapternary default
--closingparen balanced
--callsiteparen balanced
--wrapreturntype preserve
--wrapconditions before-first
--wraptypealiases before-first
--wrapeffects if-multiline
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs prev-line
--computedvarattrs prev-line
--complexattrs prev-line
--yodaswap always
--disable redundantLet
